<nav class="navbar navbar-expand-lg navbar-background-trasparent">
  <div class="container-fluid">
    <a class="navbar-brand mr-auto" href="#">
      <img class="img-fluid" src="../../../assets/logo-vptown.png"  alt="">
    </a>
    <button class="navbar-toggler custom-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <svg _ngcontent-tam-c1="" xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor" viewBox="0 0 16 16" class="bi bi-list"><path _ngcontent-tam-c1="" fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path></svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto gap-5 d-flex flex-column flex-lg-row justify-content-center align-items-center collapse">
        <li class="nav-item">
          <button class="btn-perso" style="height: 47px; width: 101px;" data-bs-toggle="collapse" data-bs-target="#navbarNav">HOME</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#navbarNav">Agency</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#navbarNav">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#navbarNav">Contact</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand ml-auto" href="#">
      <img src="../../../assets/moon-01.png" width="30" height="30" alt="">
    </a>
  </div>
</nav>