
<nav class="navbar navbar-expand-lg navbar-background-trasparent">
    <div class="container-fluid">
    <a class="navbar-brand mr-auto" href="#">
      <img class="img-fluid" src="../../../assets/logo-vptown.png"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto gap-5">
        <li class="nav-item">
            <button class="btn-perso" style="height: 47px; width: 101px;" >HOME</button>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Agency</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    </div>
    <a class="navbar-brand ml-auto" href="#">
      <img src="../../../assets/moon-01.png" width="30" height="30" alt="">
    </a>
</div>
  </nav>
  
  
  
  
  
  
  