<div class="container">
    <div class="row d-none d-lg-block">
        <div class="col-md-12 text-center mt-4">
            <img class="img-fluid" src="../../../assets/hero1.png" alt="">
        </div>
        <div class="d-none d-lg-block">
            <img class="hero-logo img-fluid" src="../../../assets/logo-vptown.png" alt="">
        </div>    
    </div>
    <div class="text-main">
        <h1> <span>BORN TO</span> <br> <span class="code">CODE</span> <br> <span class="rest-text">RAISED TO <span style="color:#D0F500 ;">NO</span> <span style="color: #B486FC;">CODE</span></span>  </h1>
    </div>
    <div class="btn-main text-center">
        <button class="btn-perso" style="height: 85px; width: 330px; " >BUILD WITH US <img  src="../../../assets/icon-btn.png" alt=""> </button>
    </div>
</div>




