body {
    background-color: #000000;
    opacity: 1;
    background-image:  linear-gradient(#0f0f0f 4px, transparent 4px), linear-gradient(to right, #0f0f0f 4px, #000000 4px);
    background-size: 130px 130px;
}
