<div class="separator">
    <hr>
    <span>OFFERT</span>
  </div>

  <div class="container mt-5">
    <div class="row">
        <div class="colum text-main col-lg-7">
            <div class="text">
            <h3 class="mb-5">Pair programming on gather town</h3>
            <p class="mb-5 lead">Pair programming on gather town is a great way to collaborate with team members or learn from a peer. With Gather Town's customizable virtual environments, you can create a collaborative coding space and share your screen with your partner. This allows you to work together on the same codebase in real-time, which can improve code quality, reduce errors, and increase productivity</p>
            </div>
            <button class="btn-perso" style="height: 73px; width: 261px; " >LEARN MORE <img  src="../../../assets/icon-btn.png" alt=""> </button>
        </div>
        <div class="colum col-lg-5 d-none d-lg-block">
            <img class="img-fluid" src="../../../assets/Group 602.png" alt="">
        </div>
    </div>
  </div>