<div class="separator">
    <hr>
    <span>OFFERT</span>
  </div>

  <div class="container mt-5">
    
    <div class="row">
        <div class="colum text-main col-lg-7">
            <div class="text">
            <h3 class="mb-5">Pair programming on gather town</h3>
            <p class="mb-5 lead">Pair programming on gather town is a great way to collaborate with team members or learn from a peer. With Gather Town's customizable virtual environments, you can create a collaborative coding space and share your screen with your partner. This allows you to work together on the same codebase in real-time, which can improve code quality, reduce errors, and increase productivity</p>
            </div>
            <button class="btn-perso" style="height: 73px; width: 261px; " >LEARN MORE <img  src="../../../assets/icon-btn.png" alt=""> </button>
        </div>

        <div class="colum col-lg-5 d-none d-md-block">
            <img class="img-fluid img-decoration" src="../../../assets/Group 602.png" alt="">
        </div>

        <div class="colum col-lg-5 mt-5 d-none d-md-block">
            <img class="img-fluid img-decoration" src="../../../assets/robot.png" alt="Robot">
        </div>

        <div class="colum text-main col-lg-7 mt-5">
            <div class="text">
                <h3 class="mb-5">Performance and Security Fix</h3>
                <p class="mb-5 lead">Maintaining website performance and security is critical for any business, even those that operate mainly through a no-code website. Without proper optimization and security measures, your website can become sluggish and vulnerable to cyber-attacks and breaches.</p>
                <button class="btn-perso" style="height: 73px; width: 261px; " >LEARN MORE <img  src="../../../assets/icon-btn.png" alt=""> 
            </button>
            </div>
        </div>

        <div class="colum text-main col-lg-7 mt-5">
            <div class="text">
            <h3 class="mb-5">Advanced Concept of Bubble</h3>
            <p class="mb-5 lead">Bubble is a no-code platform that allows users to create complex web applications and websites. With its advanced visual programming environment.  Bubble offers an intuitive drag-and-drop interface that helps users build robust web applications without the need for prior coding knowledge. Bubble incorporates features like data structures, custom events, workflows and integrations with 3rd-party software, and more to help users develop impressive web applications</p>
            </div>
            <button class="btn-perso" style="height: 73px; width: 261px; " >LEARN MORE <img  src="../../../assets/icon-btn.png" alt=""> </button>
        </div>
        <div class="colum col-lg-5 d-none d-md-block mt-5">
            <img class="img-fluid img-decoration mt-5"  src="../../../assets/Group 602img3.png" alt="" >
        </div>

        <div class="colum col-lg-5 mt-5 d-none d-md-block ">
            <img class="img-fluid img-decoration" src="../../../assets/Groupimg4.png" alt="">
        </div>
        <div class="colum text-main col-lg-7 mt-5">
            <div class="text">
                <h3 class="mb-5">End to End testing</h3>
                <p class="mb-5 lead">End-to-End (E2E) testing is an essential part of website development as it ensures that the website works as expected from the user's perspective. With the rise of no-code platforms, E2E testing has also become accessible to non-technical users. No code E2E testing tools allow users to create and run automated tests without writing a single line of code.</p>
                <button class="btn-perso" style="height: 73px; width: 261px; " >LEARN MORE <img  src="../../../assets/icon-btn.png" alt=""> </button>
            </div>
        </div>
        <div class="row text-center mb-5">
        <div class="col-lg-4 mt-5">
            <img class="offers-img img-fluid" src="../../../assets/img1.png" alt="">
        </div>
        <div class="col-lg-4 mt-5">
            <img class="offers-img img-fluid" src="../../../assets/img2.png" alt="">
        </div>
        <div class="col-lg-4 mt-5">
            <img class="offers-img img-fluid" src="../../../assets/img3.png" alt="">
        </div>
    </div>
    </div>
  </div>
