/*/ Separador de secciones /*/

.separator {
    position: relative;
    text-align: center;
  }
  
  .separator hr {
    border-top: 3px solid white;
  }
  
  .separator span {
    font-size: 24px;
    line-height: 20px;
    height: 56px;
    width: 211px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7f00ff;
    color: white;
    border: 2px solid #ffff;
    padding: 16px 12px;
    border-radius: 28px;
  }